@import url(modules/footer.css);
@import url(modules/midias-sociais.css);
@import url(modules/navbar.css);
/*@import url(modules/mobile-ui.css);*/
body {
    width: 100%;
    height: 100vh;
    background-color: #000000; /*So mudei para ficar mais confortavel */
    overflow-x: hidden;
}