@import url(./modules/main.css);

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh; /*So mudei para ficar mais confortavel */
    overflow-x: hidden;
}

.alert-wpp {
    position: fixed;
    left: 30px;
    bottom: 30px;
    width: 80px;
    text-align: center;
    font-size: 14px;
    animation: entry_icon 10s;
    animation-timing-function: linear;
    z-index: 9999;
}
.animate-wpp {
    position: fixed;
    left: 30px;
    bottom: 30px;
    width: 80px;
    text-align: center;
    font-size: 14px;
    animation: entry_icon 10s;
    animation-timing-function: linear;
    z-index: 9999;
}

.notify-wpp {
    position: absolute;
    left: 5px;
    bottom: 60px;
    padding: 0.7px 5px;
    font-size: 11px;
    color: #fff;
    background: #f54424;
    border-radius: 10px;
    line-height: 15px;
}
.whatsapp-link {
    bottom: 2%;
    right: 2%;
    position: fixed;
    width: 70px;
    height: 70px;
    transition: 0.1s;
}

.whatsapp-link:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

@media (max-width: 768px) {
    .whatsapp-link {
        width: 40px;
        height: 40px;
    }
}