footer {
    bottom: 0px;
}

.footer {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    left: 0px;
    font-family: "Poppins", sans-serif;
    background: #111;
    text-align: center;
    justify-content: center;

    #footer-info-email{
        padding-left: 2px;
        display: inline-block;
    }

    & > * {
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
    }
    ul {
        list-style: none;
        padding-left: 0;

        li {
            line-height: 2em;

        }
    }

    a {
        text-decoration: none;
        display: block;
        color: rgb(238, 67, 67);

        &:hover {
            color: rgb(231, 178, 178);
        }
    }
}

.footer-info {
    h3 {
        color: red;
    }

    i {
        color: rgb(47, 116, 47) !important;
    }

    span {
        color: white;
    }
}

.footer-info-centro {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  #horario-abertura {
    background-color: white;
    width: 60% !important;
    padding: 15px;
    border-radius: 15px;
  }

  @media (max-width: 768px) {

    .footer div {
      margin: 2%;
    }
    .footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 2rem;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
  }