#inicio {
    width: 100vw;
    height: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
<<<<<<< HEAD
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.7)), to(rgba(4, 9, 30, 0.7))), url(../imagens/home.png);
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../imagens/home.png);
=======
    background: url(../imagens/home.png) no-repeat center  fixed;
>>>>>>> 060da7f948b056b0dc8c7d0ea1d1f418ddb714ab
    background-size: cover;
    font-family: "Poppins", sans-serif;
    text-shadow: rgb(255, 248, 248) 0px 1.5px;

    .inicio-info {
        padding-top: 2rem;
        span {
            color: black;
            font-size: 1.5rem;
            padding: 1rem;
            
        }
    }
    
    .texto-principal {
        color: rgb(0, 0, 0);
        text-align: center;
        margin: 2%;

        h1 {
            font-size: 3.875rem;
        }

        p {
            margin: 10px 0 40px;
            font-size: 1.2rem;
            color: rgb(0, 0, 0);
        }

        .inicio-btn {
            display: inline-block;
            text-decoration: none;
            color: rgb(255, 255, 255);
            border-bottom: 1px solid #fff;
            padding: 12px 34px;
            position: relative;
            text-shadow: none;

            & {
                background-color: #f44336 !important;
            }
        }
    }
}


@media (max-width: 768px){
    .inicio-info{
        span {
            display: block;
        }
    }
}