#inicio {
    width: 100vw;
    height: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.7)), to(rgba(4, 9, 30, 0.7))), url(../imagens/home.png);
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../imagens/home.png);
    background-size: cover;
    font-family: "Poppins", sans-serif;
    
    .texto-principal {
        color: #fff;
        text-align: center;
        margin: 2%;

        h1 {
            font-size: 3.875rem;
        }

        p {
            margin: 10px 0 40px;
            font-size: 1.2rem;
            color: white;
        }

        .inicio-btn {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            border-bottom: 1px solid #fff;
            padding: 12px 34px;
            position: relative;

            & {
                background-color: #f44336 !important;
            }
        }
    }
}