@import url(midias-sociais.css);

@media (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 10px;
    }
    .whatsapp-link {
        bottom: 1%;
        right: 1%;
        width: 100px;
        height: 100px;
      }

    .checkbtn{
        display: block;
        padding-right: 1.5rem;

        & > * {
            font-size: 2rem;
        }

        #cancel {
            display: none;
        }
    }
    
    #check {
        &:checked ~ ul {
            left: 0;
        }

        &:checked ~ label #btn {
            display: none;
        }
        
        &:checked ~ label #cancel {
            display: block;
        }
    }
     
    header {
        justify-content: space-between;

        .logo {
            padding-left: 1rem;
        }
        
        nav {
            ul {
                background-color: rgb(223, 223, 223);
                position: fixed;
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                top: 6em;
                left: -100%;
                text-align: center;
                transition: all .5s;

                a{
                    color: black;
                    line-height: 2.5;
                }
            }
        }
    }
   
}