@import url(midias-sociais.css);

@media (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 10px;
    }
    .whatsapp-link {
        bottom: 1%;
        right: 1%;
        width: 100px;
        height: 100px;
      }

    .checkbtn{
        display: block;

        & > * {
            font-size: 2rem;
        }

        #cancel {
            display: none;
        }
        
    }
    
    #check {
        
        &:checked ~ ul {
            left: 0;
        }

        &:checked ~ label #btn {
            display: none;
        }
        
        &:checked ~ label #cancel {
            display: block;
        }
    }
     
    header {
        justify-content: space-between;
        
        nav {
            
            
            ul {
                background-color: white;
                position: fixed;
                display: flex;
                width: 100%;
                flex-direction: column;
                
                top: 3.5rem;
                left: -100%;
                text-align: center;
                transition: all .5s;

                li {
                    display: block;
                    line-height: 1.875rem;

                    &.ativo {
                        background: #ffffff;
                        color: #000000;
                    }
                        a{
                            
                            color: black;
                    }
                }
            }
        }
    }
   
}