#servicos {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    justify-items: center;

    
    h1 {
        padding-top: 5.625rem;
        font-size: 3rem;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: "Open sans", sans-serif;
        padding-bottom: 5rem;
    }

    .servicos-conteudo {
        box-sizing: border-box;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .servico-unico:hover {
            box-shadow: 0px 0px 5px red;
            cursor: pointer;
        }

        .servico-unico {
            width: 26%;
            padding: 2rem;
            box-shadow: 1px 1px 10px 1px #000000;
            margin-bottom: 2rem;
            border-radius: 2rem;
            font-family: "Open sans", sans-serif;
            text-align: center;
        
            h3, p {
                text-align: center;
            }

            .servico-icone {
                display: flex;
                justify-content: center;

                img {
                    width: 3.125rem;
                    height: 3.125rem;
                }
            }
            
        }
    } 
}   

@media (max-width: 768px){
    .servicos-conteudo {
        align-items: center;

        .servico-unico {
            width: 45% !important;
            height: 100%;
            align-items: center;
        }
    }
}