#servicos {
    
    height: 80vh;
    width: 100vw;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    
    

    h1 {
        padding-top: 5.625rem;
        font-size: 2rem;
        color: white;
        font-family: sans-serif;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 5rem;
    }

    .servicos-conteudo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        justify-content: space-between;

        .servico-unico {
            position: relative;
            width: 30%;
            height: 320px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            padding: 0 15px;

            &:hover {
                box-shadow: 0 0 10px 0 #ffffff;
            }
            

            h3 {
                text-align: center;
            }

            .servicos-icone {
                text-align: center;
            }
            
        }
    } 
}

@media (max-width: 768px){
    .servicos-conteudo {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}