footer {
    
    bottom: 0px;
}
.footer {
    
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    left: 0px;
    background: #111;
    text-align: center;
    justify-content: center;

    & > * {
        flex: 1 100%;
    }
    ul {
        list-style: none;
        padding-left: 0;

        li {
            line-height: 2em;

        }
    }

    a {
        text-decoration: none;
    }
}

.footer-esquerda {
    margin-right: 1.25em;
    margin-bottom: 2em;

    h1 {
        color: rgb(233, 62, 62);
    }

    p {
        color: rgb(255, 255, 255);
    }

    .footer-sociais {
        background: #1a1a1a;
        display: inline-block;
        margin-right: 10px;
    
        a {
            i {
                color: #e7f2f4;
                text-align: center;
                font-size: 1.5rem;
                border-radius: 5px;
            }

        }
    }

}

.footer-direita {
    display: flex;
    flex-flow: row wrap;

    & > * {
        flex: 1 50%;
        margin-right: 1.25em;
    }
    h2 {
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        font-size: 1.5rem;
    }
}

.caixa a {
    color: rgb(255, 255, 255);

    &:hover {
        color:rgb(233, 62, 62);
    }
}



footer-logo-text {
    color: rgb(233, 62, 62);
}

@media screen and (min-width: 768px){
    .footer-direita {
        flex: 2 0px;
        & > * {
        flex: 1;
     }
    }

    .footer-esquerda {
        flex: 1 0px;
    }
}

@media (max-width: 768px){
    .footer {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: space-around;
    }
}