
*{
    margin: 0;
    padding: 0; 
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
}

nav ul li {
    display: inline-block;
}

nav ul li:first-child {
    padding-left: 400px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding: 7px 13px;
}
.active {
    background: #ffffff96;
    transition: 1s;
    border-bottom: 2px solid red;
}

nav ul li a:hover {
    border-bottom: 2px solid red;
}

nav ul li:last-child {
    float: right;
}
.checkbtn{
    float: right;
    display: none;
    cursor: pointer;
}
#check {
    display: none;
}