* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    padding: 1rem;
    background-color: rgba($color: #ffffff, $alpha: 1.0);
    

    .logo {
        font-weight: 700;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.6;
        font-family: 'Poppins', sans-serif;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;

        input, label{
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-around;

            li {
                list-style: none;

                &.ativo {
                    border-bottom: 2px solid blue;
                }
                &:hover {
                    border-bottom: 2px solid blue;
                }
                
                a{
                    margin: 0 1rem;
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    font-weight: 500;
                    font-family: 'Poppins', sans-serif;
                    font-weight: bold;

                }
            }
        }

    }
}

