#servicos {
    min-height: 50vh;
    width: 100%;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-position: center;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
    

    h1 {
        font-size: 2rem;
        color: white;
        font-family: sans-serif;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 5rem;
        
    }

    .servicos-conteudo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .servico-unico {
            position: relative;
            width: 20%;
            box-sizing: border-box;
            padding: 30px;

            &:hover {
                box-shadow: 0 0 10px 0 #ffffff;
            }
            

            h3 {
                text-align: center;
            }

            .servicos-icone {
                text-align: center;
            }
            
        }
    } 
}

@media (max-width: 768px){
    .servicos-conteudo {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}